{% extends "layout.html" %}
{% block title %}FEED{% endblock %}

WELCOME

{% block content %}

WELCOME

{% if action == "edit" %}
  <table style="width:100%">
    <tr>
      <td style="width: 50%">

	WELCOME
	<br>
	This is the feed of undiscovered stories
	<br>
	
      </td>
      <td style="width: 30%">
      </td>
      <td style="width: 20%">
	
	<form action="/logout">
	  <input type="submit" value="Logout" />
	</form>
	<form action="/return_home">
	  <input type="submit" value="Back" />
	</form>
	
      </td>

      {{article}}
      {% for each_item in article%}
    <tr>
      
      <td>
	
	STORY:
	<br>
	{{each_item}}
	<br>
	{% for each_piece in article[each_item] %}
	{{each_piece}}
	<br>
	{% endfor %}

	<br>
	<form action="/edit", method="POST">
	  add to the story:<br>
	  <input type="text" name="edit">
	  <input type="hidden" name="id" value={{each_item}}>
	  <br>
	  <br>
	  <input type="submit" name="sub1">
	  
	</form>
	<br>
	-----------------------------------------------------------------
	<br>
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>

    {% endfor %}

    
    {% elif action == "make" %}


 WELCOME
    <table style="width:100%">
      <tr>
	<td style="width: 50%">
	  
	  <br>
	  This is the where you edit stories
	  <br>
	  
	</td>
	<td style="width: 30%">
	</td>
	<td style="width: 20%">
	  
	  <form action="/logout">
	    <input type="submit" value="Logout" />
	  </form>
	  <form action="/return_home">
	    <input type="submit" value="Back" />
	  </form>
	  
	</td>
	
      <tr>
	
	<td>
	  
    
    <br>

    
    <form action="/make_story", method="POST">
      <br>
      Title of Story:<br>
      <input type="text" name="title">
      <br>
      <br>
      First edit (get the ball rolling):<br>
      <input type="text" name="text">
      <br>
      <br>
      <input type="submit" name="sub1">
      
    </form>
    <br>
    
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>


    
    </tr>
</table>

  
  {% endif %}

  
  {% endblock %}
  
  
