{% extends "layout.html" %}
{% block title %}INDEX{% endblock %}

{% block content %}

  <table style="width:100%">
    <tr>
      <td style="width: 50%">

	WELCOME
	<br>
	This is the front page
	<br>
	
      </td>
      <td style="width: 30%">
      </td>
      <td style="width: 20%">
	
	<form action="/logout">
	  <input type="submit" value="Logout" />
	</form>
	<form action="/feed">
	  <input type="submit" value="View Other Stories" />
	</form>
	<form action="/show_make_story">
	  <input type="submit" value="Create a Story" />
	</form>
	
      </td>
    </tr>
    {% for each_item in article%}
    
    <tr>
      
      <td>
	
	STORY:
	<br>
	
	{% for each_piece in article[each_item] %}
	{{each_piece}}
	<br>
	{% endfor %}
	<br>
      </td>
      <td>
      </td>
      <td>
      </td>
      
    </tr>

    {% endfor %}
    
  </table>
  <br>
  

  {% endblock %}
  
  
